<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstadofacturaEditDlg" widgetVar="EstadofacturaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEstadofacturaTitle}">
            <h:form id="EstadofacturaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estadofacturaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEstadofacturaLabel_idEstado}" for="idEstado" />
                        <p:inputText id="idEstado" value="#{estadofacturaController.selected.idEstado}" title="#{bundle.EditEstadofacturaTitle_idEstado}" required="true" requiredMessage="#{bundle.EditEstadofacturaRequiredMessage_idEstado}"/>
                        <p:outputLabel value="#{bundle.EditEstadofacturaLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{estadofacturaController.selected.nombre}" title="#{bundle.EditEstadofacturaTitle_nombre}" />
                        <p:outputLabel value="#{bundle.EditEstadofacturaLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{estadofacturaController.selected.estado}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{estadofacturaController.update}" value="#{bundle.Save}" update="display,:EstadofacturaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EstadofacturaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EstadofacturaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
