<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstadofacturaViewDlg" widgetVar="EstadofacturaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEstadofacturaTitle}">
            <h:form id="EstadofacturaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estadofacturaController.selected != null}">
                        <h:outputText value="#{bundle.ViewEstadofacturaLabel_idEstado}"/>
                        <h:outputText value="#{estadofacturaController.selected.idEstado}" title="#{bundle.ViewEstadofacturaTitle_idEstado}"/>
                        <h:outputText value="#{bundle.ViewEstadofacturaLabel_nombre}"/>
                        <h:outputText value="#{estadofacturaController.selected.nombre}" title="#{bundle.ViewEstadofacturaTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewEstadofacturaLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{estadofacturaController.selected.estado}" disabled="true"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EstadofacturaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
