<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductoCreateDlg" widgetVar="ProductoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProductoTitle}">
            <h:form id="ProductoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProductoLabel_idProducto}" for="idProducto" />
                        <p:inputText id="idProducto" value="#{productoController.selected.idProducto}" title="#{bundle.CreateProductoTitle_idProducto}" required="true" requiredMessage="#{bundle.CreateProductoRequiredMessage_idProducto}"/>
                        <p:outputLabel value="#{bundle.CreateProductoLabel_nombreProducto}" for="nombreProducto" />
                        <p:inputText id="nombreProducto" value="#{productoController.selected.nombreProducto}" title="#{bundle.CreateProductoTitle_nombreProducto}" />
                        <p:outputLabel value="#{bundle.CreateProductoLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{productoController.selected.descripcion}" title="#{bundle.CreateProductoTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.CreateProductoLabel_precioCompra}" for="precioCompra" />
                        <p:inputText id="precioCompra" value="#{productoController.selected.precioCompra}" title="#{bundle.CreateProductoTitle_precioCompra}" />
                        <p:outputLabel value="#{bundle.CreateProductoLabel_precioVenta}" for="precioVenta" />
                        <p:inputText id="precioVenta" value="#{productoController.selected.precioVenta}" title="#{bundle.CreateProductoTitle_precioVenta}" />
                        <p:outputLabel value="#{bundle.CreateProductoLabel_iva}" for="iva" />
                        <p:inputText id="iva" value="#{productoController.selected.iva}" title="#{bundle.CreateProductoTitle_iva}" />
                        <p:outputLabel value="#{bundle.CreateProductoLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{productoController.selected.estado}" />
                        <p:outputLabel value="#{bundle.CreateProductoLabel_fechaVencimiento}" for="fechaVencimiento" />
                        <p:calendar id="fechaVencimiento" pattern="MM/dd/yyyy" value="#{productoController.selected.fechaVencimiento}" title="#{bundle.EditProductoTitle_fechaVencimiento}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateProductoLabel_fechaCreacionProducto}" for="fechaCreacionProducto" />
                        <p:calendar id="fechaCreacionProducto" pattern="MM/dd/yyyy" value="#{productoController.selected.fechaCreacionProducto}" title="#{bundle.EditProductoTitle_fechaCreacionProducto}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateProductoLabel_fkTipoProveedor}" for="fkTipoProveedor" />
                        <p:selectOneMenu id="fkTipoProveedor" value="#{productoController.selected.fkTipoProveedor}" >
                            <f:selectItems value="#{proveedorController.itemsAvailableSelectOne}"
                                           var="fkTipoProveedorItem"
                                           itemValue="#{fkTipoProveedorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateProductoLabel_fkTipoProducto}" for="fkTipoProducto" />
                        <p:selectOneMenu id="fkTipoProducto" value="#{productoController.selected.fkTipoProducto}" >
                            <f:selectItems value="#{tipoproductoController.itemsAvailableSelectOne}"
                                           var="fkTipoProductoItem"
                                           itemValue="#{fkTipoProductoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productoController.create}" value="#{bundle.Save}" update="display,:ProductoListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProductoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
