<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductoViewDlg" widgetVar="ProductoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductoTitle}">
            <h:form id="ProductoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productoController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductoLabel_idProducto}"/>
                        <h:outputText value="#{productoController.selected.idProducto}" title="#{bundle.ViewProductoTitle_idProducto}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_nombreProducto}"/>
                        <h:outputText value="#{productoController.selected.nombreProducto}" title="#{bundle.ViewProductoTitle_nombreProducto}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_descripcion}"/>
                        <h:outputText value="#{productoController.selected.descripcion}" title="#{bundle.ViewProductoTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_precioCompra}"/>
                        <h:outputText value="#{productoController.selected.precioCompra}" title="#{bundle.ViewProductoTitle_precioCompra}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_precioVenta}"/>
                        <h:outputText value="#{productoController.selected.precioVenta}" title="#{bundle.ViewProductoTitle_precioVenta}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_iva}"/>
                        <h:outputText value="#{productoController.selected.iva}" title="#{bundle.ViewProductoTitle_iva}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{productoController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_fechaVencimiento}"/>
                        <h:outputText value="#{productoController.selected.fechaVencimiento}" title="#{bundle.ViewProductoTitle_fechaVencimiento}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewProductoLabel_fechaCreacionProducto}"/>
                        <h:outputText value="#{productoController.selected.fechaCreacionProducto}" title="#{bundle.ViewProductoTitle_fechaCreacionProducto}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewProductoLabel_fkTipoProveedor}"/>
                        <h:outputText value="#{productoController.selected.fkTipoProveedor}" title="#{bundle.ViewProductoTitle_fkTipoProveedor}"/>
                        <h:outputText value="#{bundle.ViewProductoLabel_fkTipoProducto}"/>
                        <h:outputText value="#{productoController.selected.fkTipoProducto}" title="#{bundle.ViewProductoTitle_fkTipoProducto}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
