<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturaEditDlg" widgetVar="FacturaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditFacturaTitle}">
            <h:form id="FacturaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditFacturaLabel_idFactura}" for="idFactura" />
                        <p:inputText id="idFactura" value="#{facturaController.selected.idFactura}" title="#{bundle.EditFacturaTitle_idFactura}" required="true" requiredMessage="#{bundle.EditFacturaRequiredMessage_idFactura}"/>
                        <p:outputLabel value="#{bundle.EditFacturaLabel_fechaRegistro}" for="fechaRegistro" />
                        <p:calendar id="fechaRegistro" pattern="MM/dd/yyyy" value="#{facturaController.selected.fechaRegistro}" title="#{bundle.EditFacturaTitle_fechaRegistro}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFacturaLabel_fechaCreacion}" for="fechaCreacion" />
                        <p:calendar id="fechaCreacion" pattern="MM/dd/yyyy" value="#{facturaController.selected.fechaCreacion}" title="#{bundle.EditFacturaTitle_fechaCreacion}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditFacturaLabel_valorBase}" for="valorBase" />
                        <p:inputText id="valorBase" value="#{facturaController.selected.valorBase}" title="#{bundle.EditFacturaTitle_valorBase}" />
                        <p:outputLabel value="#{bundle.EditFacturaLabel_valoerIva}" for="valoerIva" />
                        <p:inputText id="valoerIva" value="#{facturaController.selected.valoerIva}" title="#{bundle.EditFacturaTitle_valoerIva}" />
                        <p:outputLabel value="#{bundle.EditFacturaLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{facturaController.selected.estado}" />
                        <p:outputLabel value="#{bundle.EditFacturaLabel_fkCliente}" for="fkCliente" />
                        <p:selectOneMenu id="fkCliente" value="#{facturaController.selected.fkCliente}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{clienteController.itemsAvailableSelectOne}"
                                           var="fkClienteItem"
                                           itemValue="#{fkClienteItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditFacturaLabel_fkEstadoFactura}" for="fkEstadoFactura" />
                        <p:selectOneMenu id="fkEstadoFactura" value="#{facturaController.selected.fkEstadoFactura}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{estadofacturaController.itemsAvailableSelectOne}"
                                           var="fkEstadoFacturaItem"
                                           itemValue="#{fkEstadoFacturaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{facturaController.update}" value="#{bundle.Save}" update="display,:FacturaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'FacturaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FacturaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
