<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturaViewDlg" widgetVar="FacturaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFacturaTitle}">
            <h:form id="FacturaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturaController.selected != null}">
                        <h:outputText value="#{bundle.ViewFacturaLabel_idFactura}"/>
                        <h:outputText value="#{facturaController.selected.idFactura}" title="#{bundle.ViewFacturaTitle_idFactura}"/>
                        <h:outputText value="#{bundle.ViewFacturaLabel_fechaRegistro}"/>
                        <h:outputText value="#{facturaController.selected.fechaRegistro}" title="#{bundle.ViewFacturaTitle_fechaRegistro}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFacturaLabel_fechaCreacion}"/>
                        <h:outputText value="#{facturaController.selected.fechaCreacion}" title="#{bundle.ViewFacturaTitle_fechaCreacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFacturaLabel_valorBase}"/>
                        <h:outputText value="#{facturaController.selected.valorBase}" title="#{bundle.ViewFacturaTitle_valorBase}"/>
                        <h:outputText value="#{bundle.ViewFacturaLabel_valoerIva}"/>
                        <h:outputText value="#{facturaController.selected.valoerIva}" title="#{bundle.ViewFacturaTitle_valoerIva}"/>
                        <h:outputText value="#{bundle.ViewFacturaLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{facturaController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewFacturaLabel_fkCliente}"/>
                        <h:outputText value="#{facturaController.selected.fkCliente}" title="#{bundle.ViewFacturaTitle_fkCliente}"/>
                        <h:outputText value="#{bundle.ViewFacturaLabel_fkEstadoFactura}"/>
                        <h:outputText value="#{facturaController.selected.fkEstadoFactura}" title="#{bundle.ViewFacturaTitle_fkEstadoFactura}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FacturaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
