<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClienteEditDlg" widgetVar="ClienteEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditClienteTitle}">
            <h:form id="ClienteEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clienteController.selected != null}">
                        <p:outputLabel value="#{bundle.EditClienteLabel_idCliente}" for="idCliente" />
                        <p:inputText id="idCliente" value="#{clienteController.selected.idCliente}" title="#{bundle.EditClienteTitle_idCliente}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_idCliente}"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{clienteController.selected.nombre}" title="#{bundle.EditClienteTitle_nombre}" />
                        <p:outputLabel value="#{bundle.EditClienteLabel_documento}" for="documento" />
                        <p:inputText id="documento" value="#{clienteController.selected.documento}" title="#{bundle.EditClienteTitle_documento}" />
                        <p:outputLabel value="#{bundle.EditClienteLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{clienteController.selected.telefono}" title="#{bundle.EditClienteTitle_telefono}" />
                        <p:outputLabel value="#{bundle.EditClienteLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{clienteController.selected.direccion}" title="#{bundle.EditClienteTitle_direccion}" />
                        <p:outputLabel value="#{bundle.EditClienteLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{clienteController.selected.correo}" title="#{bundle.EditClienteTitle_correo}" />
                        <p:outputLabel value="#{bundle.EditClienteLabel_contactoAutorizado}" for="contactoAutorizado" />
                        <p:inputText id="contactoAutorizado" value="#{clienteController.selected.contactoAutorizado}" title="#{bundle.EditClienteTitle_contactoAutorizado}" />
                        <p:outputLabel value="#{bundle.EditClienteLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{clienteController.selected.estado}" />
                        <p:outputLabel value="#{bundle.EditClienteLabel_fechaCreacion}" for="fechaCreacion" />
                        <p:calendar id="fechaCreacion" pattern="MM/dd/yyyy" value="#{clienteController.selected.fechaCreacion}" title="#{bundle.EditClienteTitle_fechaCreacion}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditClienteLabel_fkEstadoCliente}" for="fkEstadoCliente" />
                        <p:selectOneMenu id="fkEstadoCliente" value="#{clienteController.selected.fkEstadoCliente}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{estadoclienteController.itemsAvailableSelectOne}"
                                           var="fkEstadoClienteItem"
                                           itemValue="#{fkEstadoClienteItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clienteController.update}" value="#{bundle.Save}" update="display,:ClienteListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ClienteEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClienteEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
