<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClienteViewDlg" widgetVar="ClienteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewClienteTitle}">
            <h:form id="ClienteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clienteController.selected != null}">
                        <h:outputText value="#{bundle.ViewClienteLabel_idCliente}"/>
                        <h:outputText value="#{clienteController.selected.idCliente}" title="#{bundle.ViewClienteTitle_idCliente}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_nombre}"/>
                        <h:outputText value="#{clienteController.selected.nombre}" title="#{bundle.ViewClienteTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_documento}"/>
                        <h:outputText value="#{clienteController.selected.documento}" title="#{bundle.ViewClienteTitle_documento}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_telefono}"/>
                        <h:outputText value="#{clienteController.selected.telefono}" title="#{bundle.ViewClienteTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_direccion}"/>
                        <h:outputText value="#{clienteController.selected.direccion}" title="#{bundle.ViewClienteTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_correo}"/>
                        <h:outputText value="#{clienteController.selected.correo}" title="#{bundle.ViewClienteTitle_correo}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_contactoAutorizado}"/>
                        <h:outputText value="#{clienteController.selected.contactoAutorizado}" title="#{bundle.ViewClienteTitle_contactoAutorizado}"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{clienteController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewClienteLabel_fechaCreacion}"/>
                        <h:outputText value="#{clienteController.selected.fechaCreacion}" title="#{bundle.ViewClienteTitle_fechaCreacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewClienteLabel_fkEstadoCliente}"/>
                        <h:outputText value="#{clienteController.selected.fkEstadoCliente}" title="#{bundle.ViewClienteTitle_fkEstadoCliente}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ClienteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
