<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoproductoCreateDlg" widgetVar="TipoproductoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTipoproductoTitle}">
            <h:form id="TipoproductoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoproductoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTipoproductoLabel_idTipoProducto}" for="idTipoProducto" />
                        <p:inputText id="idTipoProducto" value="#{tipoproductoController.selected.idTipoProducto}" title="#{bundle.CreateTipoproductoTitle_idTipoProducto}" required="true" requiredMessage="#{bundle.CreateTipoproductoRequiredMessage_idTipoProducto}"/>
                        <p:outputLabel value="#{bundle.CreateTipoproductoLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{tipoproductoController.selected.descripcion}" title="#{bundle.CreateTipoproductoTitle_descripcion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoproductoController.create}" value="#{bundle.Save}" update="display,:TipoproductoListForm:datalist,:growl" oncomplete="handleSubmit(args,'TipoproductoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoproductoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
