<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoproductoViewDlg" widgetVar="TipoproductoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipoproductoTitle}">
            <h:form id="TipoproductoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoproductoController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipoproductoLabel_idTipoProducto}"/>
                        <h:outputText value="#{tipoproductoController.selected.idTipoProducto}" title="#{bundle.ViewTipoproductoTitle_idTipoProducto}"/>
                        <h:outputText value="#{bundle.ViewTipoproductoLabel_descripcion}"/>
                        <h:outputText value="#{tipoproductoController.selected.descripcion}" title="#{bundle.ViewTipoproductoTitle_descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipoproductoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
