<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstadoclienteCreateDlg" widgetVar="EstadoclienteCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEstadoclienteTitle}">
            <h:form id="EstadoclienteCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estadoclienteController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEstadoclienteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{estadoclienteController.selected.nombre}" title="#{bundle.CreateEstadoclienteTitle_nombre}" />
                        <p:outputLabel value="#{bundle.CreateEstadoclienteLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{estadoclienteController.selected.estado}" />
                        <p:outputLabel value="#{bundle.CreateEstadoclienteLabel_idEstadoCliente}" for="idEstadoCliente" />
                        <p:inputText id="idEstadoCliente" value="#{estadoclienteController.selected.idEstadoCliente}" title="#{bundle.CreateEstadoclienteTitle_idEstadoCliente}" required="true" requiredMessage="#{bundle.CreateEstadoclienteRequiredMessage_idEstadoCliente}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{estadoclienteController.create}" value="#{bundle.Save}" update="display,:EstadoclienteListForm:datalist,:growl" oncomplete="handleSubmit(args,'EstadoclienteCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EstadoclienteCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
