<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EstadoclienteViewDlg" widgetVar="EstadoclienteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEstadoclienteTitle}">
            <h:form id="EstadoclienteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{estadoclienteController.selected != null}">
                        <h:outputText value="#{bundle.ViewEstadoclienteLabel_nombre}"/>
                        <h:outputText value="#{estadoclienteController.selected.nombre}" title="#{bundle.ViewEstadoclienteTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewEstadoclienteLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{estadoclienteController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewEstadoclienteLabel_idEstadoCliente}"/>
                        <h:outputText value="#{estadoclienteController.selected.idEstadoCliente}" title="#{bundle.ViewEstadoclienteTitle_idEstadoCliente}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EstadoclienteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
