<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BodegaEditDlg" widgetVar="BodegaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBodegaTitle}">
            <h:form id="BodegaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bodegaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBodegaLabel_idBodega}" for="idBodega" />
                        <p:inputText id="idBodega" value="#{bodegaController.selected.idBodega}" title="#{bundle.EditBodegaTitle_idBodega}" required="true" requiredMessage="#{bundle.EditBodegaRequiredMessage_idBodega}"/>
                        <p:outputLabel value="#{bundle.EditBodegaLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{bodegaController.selected.descripcion}" title="#{bundle.EditBodegaTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditBodegaLabel_ubicacion}" for="ubicacion" />
                        <p:inputText id="ubicacion" value="#{bodegaController.selected.ubicacion}" title="#{bundle.EditBodegaTitle_ubicacion}" />
                        <p:outputLabel value="#{bundle.EditBodegaLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{bodegaController.selected.estado}" />
                        <p:outputLabel value="#{bundle.EditBodegaLabel_fechaCreacionbod}" for="fechaCreacionbod" />
                        <p:calendar id="fechaCreacionbod" pattern="MM/dd/yyyy" value="#{bodegaController.selected.fechaCreacionbod}" title="#{bundle.EditBodegaTitle_fechaCreacionbod}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bodegaController.update}" value="#{bundle.Save}" update="display,:BodegaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BodegaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BodegaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
