<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BodegaViewDlg" widgetVar="BodegaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBodegaTitle}">
            <h:form id="BodegaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bodegaController.selected != null}">
                        <h:outputText value="#{bundle.ViewBodegaLabel_idBodega}"/>
                        <h:outputText value="#{bodegaController.selected.idBodega}" title="#{bundle.ViewBodegaTitle_idBodega}"/>
                        <h:outputText value="#{bundle.ViewBodegaLabel_descripcion}"/>
                        <h:outputText value="#{bodegaController.selected.descripcion}" title="#{bundle.ViewBodegaTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewBodegaLabel_ubicacion}"/>
                        <h:outputText value="#{bodegaController.selected.ubicacion}" title="#{bundle.ViewBodegaTitle_ubicacion}"/>
                        <h:outputText value="#{bundle.ViewBodegaLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{bodegaController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewBodegaLabel_fechaCreacionbod}"/>
                        <h:outputText value="#{bodegaController.selected.fechaCreacionbod}" title="#{bundle.ViewBodegaTitle_fechaCreacionbod}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BodegaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
