<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolEditDlg" widgetVar="RolEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRolTitle}">
            <h:form id="RolEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rolController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRolLabel_idRol}" for="idRol" />
                        <p:inputText id="idRol" value="#{rolController.selected.idRol}" title="#{bundle.EditRolTitle_idRol}" required="true" requiredMessage="#{bundle.EditRolRequiredMessage_idRol}"/>
                        <p:outputLabel value="#{bundle.EditRolLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{rolController.selected.nombre}" title="#{bundle.EditRolTitle_nombre}" />
                        <p:outputLabel value="#{bundle.EditRolLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{rolController.selected.descripcion}" title="#{bundle.EditRolTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditRolLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{rolController.selected.estado}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolController.update}" value="#{bundle.Save}" update="display,:RolListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RolEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RolEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
