<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolViewDlg" widgetVar="RolViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRolTitle}">
            <h:form id="RolViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rolController.selected != null}">
                        <h:outputText value="#{bundle.ViewRolLabel_idRol}"/>
                        <h:outputText value="#{rolController.selected.idRol}" title="#{bundle.ViewRolTitle_idRol}"/>
                        <h:outputText value="#{bundle.ViewRolLabel_nombre}"/>
                        <h:outputText value="#{rolController.selected.nombre}" title="#{bundle.ViewRolTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewRolLabel_descripcion}"/>
                        <h:outputText value="#{rolController.selected.descripcion}" title="#{bundle.ViewRolTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewRolLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{rolController.selected.estado}" disabled="true"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RolViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
