<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedorCreateDlg" widgetVar="ProveedorCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateProveedorTitle}">
            <h:form id="ProveedorCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedorController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateProveedorLabel_idProveedor}" for="idProveedor" />
                        <p:inputText id="idProveedor" value="#{proveedorController.selected.idProveedor}" title="#{bundle.CreateProveedorTitle_idProveedor}" required="true" requiredMessage="#{bundle.CreateProveedorRequiredMessage_idProveedor}"/>
                        <p:outputLabel value="#{bundle.CreateProveedorLabel_nombreProveedor}" for="nombreProveedor" />
                        <p:inputText id="nombreProveedor" value="#{proveedorController.selected.nombreProveedor}" title="#{bundle.CreateProveedorTitle_nombreProveedor}" />
                        <p:outputLabel value="#{bundle.CreateProveedorLabel_identificacion}" for="identificacion" />
                        <p:inputText id="identificacion" value="#{proveedorController.selected.identificacion}" title="#{bundle.CreateProveedorTitle_identificacion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedorController.create}" value="#{bundle.Save}" update="display,:ProveedorListForm:datalist,:growl" oncomplete="handleSubmit(args,'ProveedorCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProveedorCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
