<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedorEditDlg" widgetVar="ProveedorEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProveedorTitle}">
            <h:form id="ProveedorEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedorController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProveedorLabel_idProveedor}" for="idProveedor" />
                        <p:inputText id="idProveedor" value="#{proveedorController.selected.idProveedor}" title="#{bundle.EditProveedorTitle_idProveedor}" required="true" requiredMessage="#{bundle.EditProveedorRequiredMessage_idProveedor}"/>
                        <p:outputLabel value="#{bundle.EditProveedorLabel_nombreProveedor}" for="nombreProveedor" />
                        <p:inputText id="nombreProveedor" value="#{proveedorController.selected.nombreProveedor}" title="#{bundle.EditProveedorTitle_nombreProveedor}" />
                        <p:outputLabel value="#{bundle.EditProveedorLabel_identificacion}" for="identificacion" />
                        <p:inputText id="identificacion" value="#{proveedorController.selected.identificacion}" title="#{bundle.EditProveedorTitle_identificacion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proveedorController.update}" value="#{bundle.Save}" update="display,:ProveedorListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProveedorEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProveedorEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
