<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProveedorViewDlg" widgetVar="ProveedorViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProveedorTitle}">
            <h:form id="ProveedorViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{proveedorController.selected != null}">
                        <h:outputText value="#{bundle.ViewProveedorLabel_idProveedor}"/>
                        <h:outputText value="#{proveedorController.selected.idProveedor}" title="#{bundle.ViewProveedorTitle_idProveedor}"/>
                        <h:outputText value="#{bundle.ViewProveedorLabel_nombreProveedor}"/>
                        <h:outputText value="#{proveedorController.selected.nombreProveedor}" title="#{bundle.ViewProveedorTitle_nombreProveedor}"/>
                        <h:outputText value="#{bundle.ViewProveedorLabel_identificacion}"/>
                        <h:outputText value="#{proveedorController.selected.identificacion}" title="#{bundle.ViewProveedorTitle_identificacion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProveedorViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
