<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HistoproductoCreateDlg" widgetVar="HistoproductoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateHistoproductoTitle}">
            <h:form id="HistoproductoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{histoproductoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_idProducto}" for="idProducto" />
                        <p:inputText id="idProducto" value="#{histoproductoController.selected.idProducto}" title="#{bundle.CreateHistoproductoTitle_idProducto}" required="true" requiredMessage="#{bundle.CreateHistoproductoRequiredMessage_idProducto}"/>
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{histoproductoController.selected.descripcion}" title="#{bundle.CreateHistoproductoTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_precioVenta}" for="precioVenta" />
                        <p:inputText id="precioVenta" value="#{histoproductoController.selected.precioVenta}" title="#{bundle.CreateHistoproductoTitle_precioVenta}" />
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_precioCompra}" for="precioCompra" />
                        <p:inputText id="precioCompra" value="#{histoproductoController.selected.precioCompra}" title="#{bundle.CreateHistoproductoTitle_precioCompra}" />
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_iva}" for="iva" />
                        <p:inputText id="iva" value="#{histoproductoController.selected.iva}" title="#{bundle.CreateHistoproductoTitle_iva}" />
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{histoproductoController.selected.estado}" />
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_fechaCreacion}" for="fechaCreacion" />
                        <p:calendar id="fechaCreacion" pattern="MM/dd/yyyy" value="#{histoproductoController.selected.fechaCreacion}" title="#{bundle.EditHistoproductoTitle_fechaCreacion}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_fkProveedor}" for="fkProveedor" />
                        <p:selectOneMenu id="fkProveedor" value="#{histoproductoController.selected.fkProveedor}" >
                            <f:selectItems value="#{proveedorController.itemsAvailableSelectOne}"
                                           var="fkProveedorItem"
                                           itemValue="#{fkProveedorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateHistoproductoLabel_fkTipoProducto}" for="fkTipoProducto" />
                        <p:selectOneMenu id="fkTipoProducto" value="#{histoproductoController.selected.fkTipoProducto}" >
                            <f:selectItems value="#{tipoproductoController.itemsAvailableSelectOne}"
                                           var="fkTipoProductoItem"
                                           itemValue="#{fkTipoProductoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{histoproductoController.create}" value="#{bundle.Save}" update="display,:HistoproductoListForm:datalist,:growl" oncomplete="handleSubmit(args,'HistoproductoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="HistoproductoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
