<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HistoproductoEditDlg" widgetVar="HistoproductoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditHistoproductoTitle}">
            <h:form id="HistoproductoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{histoproductoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_idProducto}" for="idProducto" />
                        <p:inputText id="idProducto" value="#{histoproductoController.selected.idProducto}" title="#{bundle.EditHistoproductoTitle_idProducto}" required="true" requiredMessage="#{bundle.EditHistoproductoRequiredMessage_idProducto}"/>
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{histoproductoController.selected.descripcion}" title="#{bundle.EditHistoproductoTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_precioVenta}" for="precioVenta" />
                        <p:inputText id="precioVenta" value="#{histoproductoController.selected.precioVenta}" title="#{bundle.EditHistoproductoTitle_precioVenta}" />
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_precioCompra}" for="precioCompra" />
                        <p:inputText id="precioCompra" value="#{histoproductoController.selected.precioCompra}" title="#{bundle.EditHistoproductoTitle_precioCompra}" />
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_iva}" for="iva" />
                        <p:inputText id="iva" value="#{histoproductoController.selected.iva}" title="#{bundle.EditHistoproductoTitle_iva}" />
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{histoproductoController.selected.estado}" />
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_fechaCreacion}" for="fechaCreacion" />
                        <p:calendar id="fechaCreacion" pattern="MM/dd/yyyy" value="#{histoproductoController.selected.fechaCreacion}" title="#{bundle.EditHistoproductoTitle_fechaCreacion}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_fkProveedor}" for="fkProveedor" />
                        <p:selectOneMenu id="fkProveedor" value="#{histoproductoController.selected.fkProveedor}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{proveedorController.itemsAvailableSelectOne}"
                                           var="fkProveedorItem"
                                           itemValue="#{fkProveedorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditHistoproductoLabel_fkTipoProducto}" for="fkTipoProducto" />
                        <p:selectOneMenu id="fkTipoProducto" value="#{histoproductoController.selected.fkTipoProducto}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoproductoController.itemsAvailableSelectOne}"
                                           var="fkTipoProductoItem"
                                           itemValue="#{fkTipoProductoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{histoproductoController.update}" value="#{bundle.Save}" update="display,:HistoproductoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'HistoproductoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="HistoproductoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
