<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListHistoproductoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="HistoproductoListForm">
                <p:panel header="#{bundle.ListHistoproductoTitle}">
                    <p:dataTable id="datalist" value="#{histoproductoController.items}" var="item"
                                 selectionMode="single" selection="#{histoproductoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idProducto}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_idProducto}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProducto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_descripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_precioVenta}"/>
                            </f:facet>
                            <h:outputText value="#{item.precioVenta}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_precioCompra}"/>
                            </f:facet>
                            <h:outputText value="#{item.precioCompra}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_iva}"/>
                            </f:facet>
                            <h:outputText value="#{item.iva}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_estado}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.estado}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_fechaCreacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaCreacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_fkProveedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkProveedor}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistoproductoTitle_fkTipoProducto}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkTipoProducto}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{histoproductoController.prepareCreate}" update=":HistoproductoCreateForm" oncomplete="PF('HistoproductoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":HistoproductoViewForm" oncomplete="PF('HistoproductoViewDialog').show()" disabled="#{empty histoproductoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":HistoproductoEditForm" oncomplete="PF('HistoproductoEditDialog').show()" disabled="#{empty histoproductoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{histoproductoController.destroy}" update=":growl,datalist" disabled="#{empty histoproductoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
