<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HistoproductoViewDlg" widgetVar="HistoproductoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewHistoproductoTitle}">
            <h:form id="HistoproductoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{histoproductoController.selected != null}">
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_idProducto}"/>
                        <h:outputText value="#{histoproductoController.selected.idProducto}" title="#{bundle.ViewHistoproductoTitle_idProducto}"/>
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_descripcion}"/>
                        <h:outputText value="#{histoproductoController.selected.descripcion}" title="#{bundle.ViewHistoproductoTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_precioVenta}"/>
                        <h:outputText value="#{histoproductoController.selected.precioVenta}" title="#{bundle.ViewHistoproductoTitle_precioVenta}"/>
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_precioCompra}"/>
                        <h:outputText value="#{histoproductoController.selected.precioCompra}" title="#{bundle.ViewHistoproductoTitle_precioCompra}"/>
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_iva}"/>
                        <h:outputText value="#{histoproductoController.selected.iva}" title="#{bundle.ViewHistoproductoTitle_iva}"/>
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{histoproductoController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_fechaCreacion}"/>
                        <h:outputText value="#{histoproductoController.selected.fechaCreacion}" title="#{bundle.ViewHistoproductoTitle_fechaCreacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_fkProveedor}"/>
                        <h:outputText value="#{histoproductoController.selected.fkProveedor}" title="#{bundle.ViewHistoproductoTitle_fkProveedor}"/>
                        <h:outputText value="#{bundle.ViewHistoproductoLabel_fkTipoProducto}"/>
                        <h:outputText value="#{histoproductoController.selected.fkTipoProducto}" title="#{bundle.ViewHistoproductoTitle_fkTipoProducto}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="HistoproductoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
