<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AlmacenEditDlg" widgetVar="AlmacenEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAlmacenTitle}">
            <h:form id="AlmacenEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{almacenController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_idAlmacen}" for="idAlmacen" />
                        <p:inputText id="idAlmacen" value="#{almacenController.selected.idAlmacen}" title="#{bundle.EditAlmacenTitle_idAlmacen}" required="true" requiredMessage="#{bundle.EditAlmacenRequiredMessage_idAlmacen}"/>
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_fechaRegistro}" for="fechaRegistro" />
                        <p:calendar id="fechaRegistro" pattern="MM/dd/yyyy" value="#{almacenController.selected.fechaRegistro}" title="#{bundle.EditAlmacenTitle_fechaRegistro}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{almacenController.selected.cantidad}" title="#{bundle.EditAlmacenTitle_cantidad}" />
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_iva}" for="iva" />
                        <p:inputText id="iva" value="#{almacenController.selected.iva}" title="#{bundle.EditAlmacenTitle_iva}" />
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_fechaPreacion}" for="fechaPreacion" />
                        <p:calendar id="fechaPreacion" pattern="MM/dd/yyyy" value="#{almacenController.selected.fechaPreacion}" title="#{bundle.EditAlmacenTitle_fechaPreacion}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_estado}" for="estado" />
                        <p:selectBooleanCheckbox id="estado" value="#{almacenController.selected.estado}" />
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_fkBodega}" for="fkBodega" />
                        <p:selectOneMenu id="fkBodega" value="#{almacenController.selected.fkBodega}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bodegaController.itemsAvailableSelectOne}"
                                           var="fkBodegaItem"
                                           itemValue="#{fkBodegaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_fkProducto}" for="fkProducto" />
                        <p:selectOneMenu id="fkProducto" value="#{almacenController.selected.fkProducto}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productoController.itemsAvailableSelectOne}"
                                           var="fkProductoItem"
                                           itemValue="#{fkProductoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditAlmacenLabel_fkProveedor}" for="fkProveedor" />
                        <p:selectOneMenu id="fkProveedor" value="#{almacenController.selected.fkProveedor}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{proveedorController.itemsAvailableSelectOne}"
                                           var="fkProveedorItem"
                                           itemValue="#{fkProveedorItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{almacenController.update}" value="#{bundle.Save}" update="display,:AlmacenListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AlmacenEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AlmacenEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
