<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAlmacenTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AlmacenListForm">
                <p:panel header="#{bundle.ListAlmacenTitle}">
                    <p:dataTable id="datalist" value="#{almacenController.items}" var="item"
                                 selectionMode="single" selection="#{almacenController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idAlmacen}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_idAlmacen}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAlmacen}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_fechaRegistro}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaRegistro}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_cantidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_iva}"/>
                            </f:facet>
                            <h:outputText value="#{item.iva}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_fechaPreacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaPreacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_estado}"/>
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{item.estado}" disabled="true"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_fkBodega}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkBodega}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_fkProducto}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkProducto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlmacenTitle_fkProveedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.fkProveedor}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{almacenController.prepareCreate}" update=":AlmacenCreateForm" oncomplete="PF('AlmacenCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AlmacenViewForm" oncomplete="PF('AlmacenViewDialog').show()" disabled="#{empty almacenController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AlmacenEditForm" oncomplete="PF('AlmacenEditDialog').show()" disabled="#{empty almacenController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{almacenController.destroy}" update=":growl,datalist" disabled="#{empty almacenController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
