<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AlmacenViewDlg" widgetVar="AlmacenViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAlmacenTitle}">
            <h:form id="AlmacenViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{almacenController.selected != null}">
                        <h:outputText value="#{bundle.ViewAlmacenLabel_idAlmacen}"/>
                        <h:outputText value="#{almacenController.selected.idAlmacen}" title="#{bundle.ViewAlmacenTitle_idAlmacen}"/>
                        <h:outputText value="#{bundle.ViewAlmacenLabel_fechaRegistro}"/>
                        <h:outputText value="#{almacenController.selected.fechaRegistro}" title="#{bundle.ViewAlmacenTitle_fechaRegistro}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewAlmacenLabel_cantidad}"/>
                        <h:outputText value="#{almacenController.selected.cantidad}" title="#{bundle.ViewAlmacenTitle_cantidad}"/>
                        <h:outputText value="#{bundle.ViewAlmacenLabel_iva}"/>
                        <h:outputText value="#{almacenController.selected.iva}" title="#{bundle.ViewAlmacenTitle_iva}"/>
                        <h:outputText value="#{bundle.ViewAlmacenLabel_fechaPreacion}"/>
                        <h:outputText value="#{almacenController.selected.fechaPreacion}" title="#{bundle.ViewAlmacenTitle_fechaPreacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewAlmacenLabel_estado}"/>
                        <p:selectBooleanCheckbox value="#{almacenController.selected.estado}" disabled="true"/>
                        <h:outputText value="#{bundle.ViewAlmacenLabel_fkBodega}"/>
                        <h:outputText value="#{almacenController.selected.fkBodega}" title="#{bundle.ViewAlmacenTitle_fkBodega}"/>
                        <h:outputText value="#{bundle.ViewAlmacenLabel_fkProducto}"/>
                        <h:outputText value="#{almacenController.selected.fkProducto}" title="#{bundle.ViewAlmacenTitle_fkProducto}"/>
                        <h:outputText value="#{bundle.ViewAlmacenLabel_fkProveedor}"/>
                        <h:outputText value="#{almacenController.selected.fkProveedor}" title="#{bundle.ViewAlmacenTitle_fkProveedor}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AlmacenViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
