<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PermisoEditDlg" widgetVar="PermisoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPermisoTitle}">
            <h:form id="PermisoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{permisoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPermisoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{permisoController.selected.nombre}" title="#{bundle.EditPermisoTitle_nombre}" />
                        <p:outputLabel value="#{bundle.EditPermisoLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{permisoController.selected.descripcion}" title="#{bundle.EditPermisoTitle_descripcion}" />
                        <p:outputLabel value="#{bundle.EditPermisoLabel_idPermiso}" for="idPermiso" />
                        <p:inputText id="idPermiso" value="#{permisoController.selected.idPermiso}" title="#{bundle.EditPermisoTitle_idPermiso}" required="true" requiredMessage="#{bundle.EditPermisoRequiredMessage_idPermiso}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{permisoController.update}" value="#{bundle.Save}" update="display,:PermisoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PermisoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PermisoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
