<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
       Aqui va a llegar
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/almacen/List" value="Show All Almacen Items"/>
        <br />
        <h:link outcome="/bodega/List" value="Show All Bodega Items"/>
        <br />
        <h:link outcome="/cliente/List" value="Show All Cliente Items"/>
        <br />
        <h:link outcome="/estadocliente/List" value="Show All Estadocliente Items"/>
        <br />
        <h:link outcome="/estadofactura/List" value="Show All Estadofactura Items"/>
        <br />
        <h:link outcome="/factura/List" value="Show All Factura Items"/>
        <br />
        <h:link outcome="/histoproducto/List" value="Show All Histoproducto Items"/>
        <br />
        <h:link outcome="/permiso/List" value="Show All Permiso Items"/>
        <br />
        <h:link outcome="/producto/List" value="Show All Producto Items"/>
        <br />
        <h:link outcome="/proveedor/List" value="Show All Proveedor Items"/>
        <br />
        <h:link outcome="/rol/List" value="Show All Rol Items"/>
        <br />
        <h:link outcome="/tipoproducto/List" value="Show All Tipoproducto Items"/>
        <br />
        <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
    </h:body>













</html>

