<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="Almacen" outcome="/almacen/List.xhtml" />
                            <p:menuitem value="Bodega" outcome="/bodega/List.xhtml" />
                            <p:menuitem value="Cliente" outcome="/cliente/List.xhtml" />
                            <p:menuitem value="Estadocliente" outcome="/estadocliente/List.xhtml" />
                            <p:menuitem value="Estadofactura" outcome="/estadofactura/List.xhtml" />
                            <p:menuitem value="Factura" outcome="/factura/List.xhtml" />
                            <p:menuitem value="Histoproducto" outcome="/histoproducto/List.xhtml" />
                            <p:menuitem value="Permiso" outcome="/permiso/List.xhtml" />
                            <p:menuitem value="Producto" outcome="/producto/List.xhtml" />
                            <p:menuitem value="Proveedor" outcome="/proveedor/List.xhtml" />
                            <p:menuitem value="Rol" outcome="/rol/List.xhtml" />
                            <p:menuitem value="Tipoproducto" outcome="/tipoproducto/List.xhtml" />
                            <p:menuitem value="Usuario" outcome="/usuario/List.xhtml" />
                        </p:submenu>
                          <f:facet name="options">
                            <p:selectOneMenu  value="#{cambiadorTemas.tema}" immediate = "true"   editable="true">
                                <f:selectItems value="#{cambiadorTemas.themes}" />
                            </p:selectOneMenu>
                            <p:commandButton value="Change" action="#{cambiadorTemas.cambiar}" ajax="false"/>
                        </f:facet>

                    </p:menubar>
                   
                </h:form>
            </p:layoutUnit>
             

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
